<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>ncmpcpp cheat sheet</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="all" />
	</head>
	<body>
		<div class="grid-block">
			<div class="grid-1"><h1><a class="site-title" href="/">ncmpcpp cheat sheet</a></h1></div>
		</div>
                {% for subdata in data %} 
                        <div class="grid-lg-1-3">
                    {% for d  in subdata %}
                        <h2>{{d['section']}}</h2>
                        <ul>
                        {% for key in d['keys'] %}
                        <li>{{key}}</li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                        </div>
                {% endfor %}
	</body>
</html>
